.montserrat{
    font-family: "Montserrat", serif;
  }
  .roboto{
    font-family: "Roboto", serif;
  }
  .bebas-neue{
    font-family: "Bebas Neue", serif;
  }

.shadow-52{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}